.bg-body-slider {
  background-image: url('../images/banner-bg.jpg')
}
.is-sticky {
  position: fixed;
  z-index: 49;
  width: 100%;
  top: 0;
}
.color-hex{
  background-color: #fc3d57;
}
.color-black{
  background-color: #000;
}
.color-white{
  background-color: #fff;
}